# ==============================================================================
# Root Settings
# ==============================================================================
# Get your's at: https://console.groq.com/
GROQ_API_KEY=gsk_your_actual_groq_api_key_goes_here
# ==============================================================================

# ==============================================================================
# Vector Store Sub-Settings
# ==============================================================================
# Local path for file storage. Field validator creates the folder if missing.
VECTOR_STORE__PATH=./chroma_db

VECTOR_STORE__COLLECTION_NAME=rag_documents

# HuggingFace model ID or Ollama name used to compute text vector profiles
VECTOR_STORE__EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

VECTOR_STORE__CHUNK_SIZE=500

# Value must be strictly less than `VECTOR_STORE__CHUNK_SIZE`
VECTOR_STORE__CHUNK_OVERLAP=50
# ==============================================================================

# ==============================================================================
# Search Sub-Settings
# ==============================================================================
SEARCH__TOP_K=4

# Retrieval Options: "similarity", "mmr", "similarity_score_threshold"
SEARCH__SEARCH_TYPE=similarity

# Document retrieval confidence cutoff constraint (0.0 ≤ score_threshold ≤ 1.0).
# No need to set if `SEARCH__SEARCH_TYPE` is not "similarity_score_threshold".
SEARCH__SCORE_THRESHOLD=0.5
# ==============================================================================

# ==============================================================================
# LLM Sub-Settings
# ==============================================================================
# Balance randomness and precision (0.0 ≤ temperature ≤ 1.0)
LLM__TEMPERATURE=0.1

# Nucleus sampling token boundary constraint (0.1 ≤ top_p ≤ 1.0)
LLM__TOP_P=0.9

# Maximum tokens of LLM output (≥1)
LLM__MAX_OUTPUT_TOKEN=1024

# Target inference model hosted on Groq
LLM__MODEL_NAME=llama-3.3-70b-versatile
# ==============================================================================
