# Python
__pycache__/
*.py[cd]
*.so

# Virtual Environments
.venv/
.uv/

# IDE (VS Code)
.vscode/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
test-results/

# Environment Variables & Secrets
.env
.env.*
**/.env
**/.env.*
!.env.example

# Local Databases / Vectorstore
.qdrant_local/

# OS Specific
.DS_Store
Thumbs.db
