# Python
__pycache__/
*.py[cd]
*.so

# Virtual Environments
.venv/
.uv/

# IDE (VS Code)
.vscode/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
test-results/
frontend/coverage

# Environment Variables & Secrets
.env
.env.*
**/.env
**/.env.*
!.env.example

# Local Databases / Vectorstore
.qdrant_local/

# Local developement SQLite datatabse
*.db

# OS Specific
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
